<!DOCTYPE html>
<html ng-app="quizFacts">
<head>
	<title></title>

	<!-- bootstrap -->	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- style -->	
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Turtle Facts Quiz</h1>
			<h3>
				Learn about all the turtles below before you decide to take on the <strong>TURTLE QUIZ</strong>
			</h3>
		</div>

		<!-- List Data --> 
		<div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive || list.quizMetrics.resultActive">
			<form class="form-inline well well-sm clearfix">
				<span class="glyphicon glyphicon-search"></span>
				<input type="text" placeholder="Search..." class="form-control" ng-model="list.search"/>
				<button class="btn btn-warning pull-right" ng-click="list.activateQuiz()"> <strong>Start Quiz</strong> </button>
			</form>

			<div class="row">
				<div class="col-sm-6" ng-repeat="turtle in list.data | filter:list.search">
					<div class="well well-sm">
						<div class="row">
							<div class="col-md-6">
								<img ng-src="{{ turtle.image_url }}" class="img-rounded img-responsive well-image">
							</div>
							<div class="col-md-6">
								<h4>{{ turtle.type }}</h4>
								<p><strong>Locations: </strong> {{ turtle.locations }}</p>
								<p><strong>Size: </strong> {{ turtle.size }}</p>
								<p><strong>Average Lifespan: </strong> {{ turtle.lifespan }}</p>
								<p><strong>Diet: </strong> {{ turtle.diet }}</p>
								<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#getTurtle" ng-click="list.changeActiveTurtle(turtle)">Learn More</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- modal to chow 'the active turtle'=> more info btn -->
			<div class="modal" id="getTurtle">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h2>{{ list.active.type }}</h2>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-8 col-xs-offset-2">
									<img ng-src="{{ list.active.image_url }}" class="img-rounded img-responsive">
								</div>
							</div>
							<div class="row top-buffer">
								<div class="col-md-6">
									<p><strong>Locations: </strong> {{ list.active.locations }}</p>
									<p><strong>Size: </strong> {{ list.active.size }}</p>
									<p><strong>Average Lifespan: </strong> {{ list.active.lifespan }}</p>
									<p><strong>Diet: </strong> {{ list.active.diet }}</p>
								</div>
								<div class="col-xs-12 top-buffer">
									<p>{{ list.active.description }}</p>
									<button class="btn btn-danger pull-right" data-dismiss="modal">close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Quiz Controller -->
		<div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive">
			<!-- Progress Area -->
			<div class="row">
				<div class="col-xs-8">
					<h2>Progress:</h2>
					<div class="btn-toolbar">
						<button class="btn" 
								ng-repeat="question in quiz.dataService.quizQuestions" 
								ng-class="{'btn-info':question.selected !== null,'btn-danger':question.selected === null}"
								ng-click="quiz.setActiveQuestion($index)">
							<span class="glyphicon" ng-class="{'glyphicon-pencil' :question.selected !== null , 'glyphicon-question-sign' :question.selected === null }"></span>
						</button>
					</div>
				</div>	
				<div class="col-xs-4">
					<div class="row">
						<h4>Legend:</h4>
						<div class="col-sm-4">
							<button class="btn btn-info">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							<p>Answered</p>
						</div>
						<div class="col-sm-4">
							<button class="btn btn-danger">
								<span class="glyphicon glyphicon-question-sign"></span>
							</button>
							<p>Unanswered</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End of the Progress Area -->
			
			<div class="row" ng-hide="quiz.finalise">
				<div class="alert alert-danger" ng-show="quiz.error">
					Error. You have not answered all of the questions ... !
					<button class="close" ng-click="quiz.error = false" >&times </button>
				</div>
				<h3>Question:</h3>
				<div class="well well-sm">
					<div class="row">
						<div class="col-xs-12">
							<h4>{{ quiz.activeQuestion+1 + ". " + quiz.dataService.quizQuestions[quiz.activeQuestion].text }}</h4>
							<div class="row" ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type == 'text'">
								<div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
									<h4 class="answer" 
										ng-class="{'bg-info': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}"
										ng-click="quiz.selectAnswer($index)">{{answer.answer}}</h4>
								</div>
							</div>
							<div class="row" ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type == 'image'">
								<div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
									<div class="img-answer"
										ng-class="{'img-selected': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}"
										ng-click="quiz.selectAnswer($index)">
										<img ng-src="{{answer.answer}}">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button class="btn btn-warning" ng-click="quiz.questionAnswered()">Continue</button>
			</div>
			<div class="well well-sm" ng-show="quiz.finalise">
				<div class="row">
					<div class="col-xs-12">
						<h3>Are you sure you want to submit your answers ?</h3>
						<button class="btn btn-success" ng-click="quiz.finaliseAnswers()">Yes</button>
						<button class="btn btn-danger" ng-click="quiz.finalise = false">No</button>
					</div>
				</div>
			</div>
		</div>

		<div ng-controller="resultCtrl as result" ng-show="result.quizMetrics.resultActive">
			<!-- Progress Area -->
			<div class="row">
				<div class="col-xs-8">
					<h2>Results:</h2>
					<div class="btn-toolbar">
						<button class="btn" 
								ng-repeat="question in result.dataService.quizQuestions" 
								ng-class="{'btn-success':question.correct,'btn-danger': !question.correct}"
								ng-click="result.setActiveQuestion($index)">
							<span class="glyphicon" ng-class="{'glyphicon-ok' :question.correct , 'glyphicon-remove' : !question.correct }"></span>
						</button>
					</div>
				</div>	
				<div class="col-xs-4">
					<div class="row">
						<h4>Legend:</h4>
						<div class="col-sm-4">
							<button class="btn btn-success">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
							<p>Correct</p>
						</div>
						<div class="col-sm-4">
							<button class="btn btn-danger">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
							<p>Incorrect</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End of the Progress Area -->
			
			<div class="row">
				<div class="col-xs-12 top-buffer">
					<h2>You scored {{ result.quizMetrics.numCorrect }} / {{ result.dataService.quizQuestions.length }} </h2>
					<h2><strong> {{ result.percent() | number:2 }}% </strong></h2>
				</div>
			</div>

			<div class="row">
				<h3>Question:</h3>
				<div class="well well-sm">
					<div class="row">
						<div class="col-xs-12">
							<h4>{{ result.activeQuestion+1 + ". " + result.dataService.quizQuestions[result.activeQuestion].text }}</h4>
							<div class="row" ng-if="result.dataService.quizQuestions[result.activeQuestion].type == 'text'">
								<div class="col-sm-6" ng-repeat="answer in result.dataService.quizQuestions[result.activeQuestion].possibilities">
									<h4 class="answer" ng-class="result.getAnswerClass($index)">
										{{answer.answer}}
										<p class="pull-right" 
										ng-show="$index !== result.quizMetrics.correctAnswers[result.activeQuestion] && $index === result.dataService.quizQuestions[result.activeQuestion].selected">Your answer</p>
										<p class="pull-right" ng-show="$index === result.quizMetrics.correctAnswers[result.activeQuestion]">Correct Answer</p>
									</h4>
								</div>
							</div>
							<div class="row" ng-if="result.dataService.quizQuestions[result.activeQuestion].type == 'image'">
								<div class="col-sm-6" ng-repeat="answer in result.dataService.quizQuestions[result.activeQuestion].possibilities">
									<div class="img-answer" ng-class="result.getAnswerClass($index)">
										<img ng-src="{{answer.answer}}">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button class="btn btn-primary btn-lg " ng-click="result.reset()">Go back to facts</button>
			</div>
		</div>
	
	</div>

	<!-- CDN (Angluar - JQuery - Bootstrap) -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	
	<!-- App Script -->
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controller/list.js"></script>
	<script type="text/javascript" src="js/controller/quiz.js"></script>
	<script type="text/javascript" src="js/controller/result.js"></script>
	<script type="text/javascript" src="js/factorie/quizMetrics.js"></script>
	<script type="text/javascript" src="js/factorie/dataService.js"></script>
</body>
</html>